# Node modules
**/node_modules/
**/.turbo/
**/.next/
**/.cache/
**/.vite/

# Build output
dist/
build/
out/
*.log

# dotenv env files
.env
.env.*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.vscode/
.idea/
.DS_Store

# TypeScript
*.tsbuildinfo

# Coverage
coverage/

# OS files
Thumbs.db
